<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="store/base :: storeHead"></th:block>
    <meta charset="UTF-8"/>
    <title>All items</title>
</head>
<body>
<th:block th:replace="store/base :: storeNav"></th:block>
<th:block th:replace="store/base :: storeFooter"></th:block>

                <!--<table class="table">-->

                <!--<tr th:each="list: ${allProducts}">-->
                    <!--<td th:text="*{item.item_name}"></td>-->
                    <!--<td th:text="*{item.item_imgFile}"></td>-->
                    <!--<td th:text="*{item.item_desc}"></td>-->
                    <!--<td th:text="*{item.item_sku}"></td>-->
                    <!--<td th:text="*{item.item_upc}"></td>-->
                    <!--<td th:text="'$'+*{item.item_price}"></td>-->
                    <!--<td th:text="*{item.item_discount}+'%'"></td>-->
                    <!--<td><a th:text="*{item.item_numInStock}" th:href="@{/addstock/{id}(id=${item.item_id})}"></a></td>-->
                    <!--<td th:text="*{item.item_department}"></td>-->
                    <!--<td th:text="*{list.taxable} ? 'Yes' : 'No'"></td>-->
                    <!--<td><a th:href="@{/update/{id}(id=${item.item_id})}">Modify</a></td>-->
                    <!--<td><a th:href="@{/deleteproduct/{id}(id=${item.item_id})}">Delete</a></td>-->
                <!--</tr>-->
                <!---->
<div class="container">
    <div class="row">
        <th:block th:each="item:${allItems}">
        <div class="col-4">
            <div class="card" >
                <img class="card-img-top" src="../img/store/puppy1.jpg" alt="Card image cap" >
                <div class="card-body">
                    <div class="card-body">
                        <h1 class="card-title" th:text="*{item.item_title}"></h1>
                        <p class="card-text" th:text="'$'+*{item.item_price}"></p>
                        <p class="card-text" th:text="*{#strings.abbreviate(item.item_desc,50)}"></p>
                    </div>
                </div>
            </div>
        </div>
        </th:block>
    </div>
</div>

</body>
<th:block th:replace="store/base :: storeJS"></th:block>

</html>