<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="store/base :: storeHead"></th:block>
    <meta charset="UTF-8"/>
    <title>Product Detail</title>
</head>
<body>
<th:block th:replace="store/base :: storeNav"></th:block>

<div class="container">

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">

            <table th:object="${item}" class="table table-striped table-bordered">
                <tr>
                    <td th:text="*{itemTitle}"></td>
                    <td th:text="*{itemImg}"></td>
                    <td th:text="*{itemDesc}"></td>
                    <td th:text="'$'+*{itemPrice}"></td>
                    <td th:text="*{itemDisc}+'%'"></td>
                    <td th:text="*{itemStock}"></td>
                    <td th:text="*{itemCatId}"></td>
                    <td th:text="*{itemTaxable} ? 'Yes' : 'No'"></td>
                    <td><a th:href="@{/store/update/{id}(id=${item.getItemId()})}">Modify</a></td>
                    <td><a th:href="@{/store/delete/{id}(id=${item.getItemId()})}">Delete</a></td>
                </tr>
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<th:block th:replace="store/base :: storeFooter"></th:block>
</body>
</html>